body { font-family: sans-serif, Courier, monospace;
        background-color:#2A2726;
}

.menu {
    background-color:#2A2726;
    width: 20%;
    height: 100%;
    float: inline-start;
    padding: 50px;
    margin: 20px;
}

  /* Style the links inside the navigation bar */
.menu a{
    color:rgb(248, 242, 242);
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.menu a:hover {
    color: #d6beb7;
  }

  .container {
    width: 80%;
    height: 100%;
    float:inline-start;
    color: rgb(238, 240, 245);
    padding: 50px;
    margin: 20px;

  }

  article {
    height: 25%;
    align-items: center;
  
  }
  .primer{
    background-color: rgb(16, 212, 238);
    margin-top: 0%;
    margin-bottom: 0%;
  }
  .segundo{
    background-color: rgb(238, 234, 16);
    margin-top: 0%;
    margin-bottom: 0%;
  }
  .tercero{
    background-color: rgb(238, 134, 16);
    margin-top: 0%;
    margin-bottom: 0%;
  }
  .cuarto{
    background-color: rgb(238, 16, 16);
    margin-top: 0%;
    margin-bottom: 0%;
  }